.price {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.digits {
    margin-right: 8px;
    font-size: 28px;
    line-height: 24px;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.name {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}